* {box-sizing: border-box}

body {font-family: Arial, Helvetica, sans-serif; margin: 0;}

/*******************
HEADER - NAVIGATION 
********************/ 

.navbar {
  width: 100%;
  background-color: #0a3755;
  overflow: auto;
}

/* .sticky {
  position: fixed;
  top: 0; 
  width: 100%;
} */

.navbar .navdiv-1 a {
  float: left;
  padding: 12px;
  color: white;
  margin-right:4px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
  border-radius:2px;
  background-color: #3498DB;
}

.navbar .navdiv-1 a:hover {
  background-color:#04AA6D;
}

a.active{
  background-color:#04AA6D; 
}

div.navdiv-1{
    margin-top:50px;
    margin-left:50px;
    float:left;
}

.navbar span{
  display: block;
  width:100px;
  height:150px;
  float: left;
  clear:both;
  margin-left:50px;
}

.navbar span img{
    padding:10px;
    width:100px;
    height:100px;
    margin:auto;
}

.navbar span p{
  text-align: center;
  color: white;
  margin-top:-4px;
  font-weight: 900;
}

.navdiv-2 {
    margin-top:62px;
    margin-right:100px;
    float: right;
    margin-left:50px;
}

.navdiv-2 a{
  text-decoration: none;
  color:white;
  font-weight:900;
  margin-bottom:10px;
}

.btn {
    margin-right: 10px;
}

input[type=search] {
    float: left;
    padding: 10px;
    margin-bottom:10px;
    font-size: 17px;
    border: none;
    border-radius: 0;
}

.btn-outline-success {
    float: left;
    padding: 10px;
    margin-right: 16px;
    background-color: #3498DB;
    font-size: 17px;
    cursor:pointer;
    border-radius:2px;
    max-width:100px;
}

.btn-outline-success:hover {
    background: #04AA6D;
}

.active{background-color: #04AA6D;}

/*******************
    SLIDESHOW  
********************/ 

.mySlides {display: none}
img {vertical-align: middle;
border-radius: 5px;}


/* Slideshow container */
.slideshow-container .carousal-item{
  width:100%;
  margin:auto;
  height: 1050px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
    position:absolute;
    max-width: 800px;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:40px;
    color: #f2f2f2;
    margin:auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 4px;
  width: 20px;
  margin: 0 2px;
  background-color: #3498DB;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.1s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.4}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.4}
}

/*******************
    OFFERINGS 
********************/ 

div.services{
    width:80%;
    height:350px;
    margin:auto;
    margin-top:100px;
}

div.service-item  {
    width: 30%;
    height:100%;
    margin-left:3.33%;
    float:left;
}

img.item{
    width:40%;
    height:45%;
    border-radius: 50%;
    margin:0 30%;
}

div.caption {
  width:100%;
  margin-top:10px;
}

.caption h4 {
    text-align: center;
    font-size:1em;
    margin-bottom:0;
}

.caption p{
    margin-top:8px;
    text-align: center;
    font-size: 0.8em;
    line-height: 1em;
}

.caption button{
    font-size:0.8em;
    margin:5px;
}

.services button{
    padding: 2px;
    background:#0a3755;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:5px;
    color:white;
    width:100px;
    padding:2px;
    margin-top:10px;
}

.services button:hover{
  background:#04AA6D;
}

/***********************
    HEALTH TIPS & FAQS 
************************/ 

hr {
  color: rgb(255, 255, 255);
  height: 0;
  margin:0;
  padding:0;
  border-radius:50%;
}

div.other{
    max-width:800px;
    margin:auto;
    margin-top:20px;
}


table.bp{
  margin-right:10px;
  margin-left:10px;
}

.bp th{
  width:20%;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding:5px;
}

.bp tr{
  text-align: left;
}

.bp td{
  padding:10px;
  border-bottom:1px solid rgb(221, 221, 221);
}

.bp th.tip{
  width:55%;
}

.faqs div.layout{
  max-width:1100px;
  margin: auto;
}

.accordion{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #3498DB;
  border-radius: 5px;
}
.accordion__question p{
  margin: 5px;
  padding: 0;
  font-size: 20px;
}
.accordion__answer table, .accordion__answer p{
  margin: 5px;
  padding: 10px;
  font-size: 0.95em;
  color: rgb(255, 255, 255);
  background: #0a3755;
  border-radius: 10px; 
}
.accordion:hover{
  cursor: pointer;
}
.accordion__answer {
  display: none;
} 
.accordion.active .accordion__answer {
  display: block;
}


/***********************
    SECTION & PARTNERS
************************/ 

div.doctor{
  width:100%;
  margin:0;
  height:400px;
  background-color: #3498DB;
}

div.doctor img{
  width:100%;
  height:100%;
}

.caption2 {
  width: 70%;
  margin:auto;
  line-height:1.5em;
  text-align:center;
  margin-top:100px;
}

.caption2 h4{
  margin-bottom:20px;
  padding-top:140px;
}

div.partners{
  margin-top:40px;
  width:100%;
  text-align: center;
  height:350px;
}

.partners h4 {
  padding:20px;
}

.partners div{
  width:60%;
  margin:auto;
  margin-top:50px;
}

div.partners div img {
  width:15%;
  height:15%;
  float:left;
  margin-left:10%;
}

/***********************
    FOOTER
************************/ 

footer{
  width:100%;
  font-size:20px;
}

div.top {
  height:250px;
  width:100%;
  margin:auto;
  background-color: #3498DB;
}

div.top div{
  width: 30%;
  float:left;
  margin-left:3.333%;
  height:100%;
  text-align:center;
  padding-top:20px;
}

.top div img{
  padding:10px;
  width:100px;
  height:100px;
  margin:auto;
}

.top div p{
  text-align: center;
  color: white;
  margin-top:-4px;
  font-weight: 900;
}

.top .right a{
  background-color: #0a3755;
  text-decoration: none;
  color:white;
  font-size:17px;
  font-weight: 200;
  display:block;
  width:100px;
  text-align:center;
  margin-left:40px;
  margin-bottom:4px;
  padding:2px;
  border-radius: 5px;
}

.top .right a:hover, .top .left a:hover {
  background-color:#04AA6D;
}

.top .left a{
  background-color: #0a3755;
  display: block;
  width:100px;
  height:40px;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  border-radius:4px;
  color:white;
  margin-bottom: 10px;
  font-weight: 200;
  text-align: center;
  cursor:pointer;
}

.top button:hover{background-color: #04AA6D;}

div.bottom{
  width: 100%;
  height:50px;
  background-color:#0a3755;
  padding:8px 0;
  text-align: center;
  font-size:18px;
  font-weight: 200;
}


/******************************************************
    ABOUT US - PAGE
******************************************************/ 

.about-us{
  width:60%;
  height:700px;
  margin:auto;
  margin-top:40px;
}

.about-us div{
  width: 100%;
  height: 180px;
  margin-bottom:30px;
  padding:20px 30px;
  background:#3498DB;
  border-radius:40px;
  font-size:1em;
  line-height: 1.2em;
  letter-spacing: 0.5px;
}

.about-us div h2{
  font-size:1.3em;
}

div.mtt-header{
  width:100%;
  height: 200px;
  background-color: #0a3755;
  padding-left:200px;
  padding-top:50px;
  text-align: left;
  color:white;
  margin-bottom:40px;
}

div.center-people{
  width: 80%;
  height:350px;
  margin:auto;
  margin-bottom:30px;
  padding: 60px;
}

div.center-people h2{
  padding-bottom:20px;
  border-bottom:2px solid gray;
}

div.center-people span{
  display:block;
  width: 20%;
  height: 300px;
  margin-left:5%;
  float:left;
  text-align: center;
  font-size:14px;
  text-align:center;
}

div.center-people span img{
  width: 100px;
  height:100px;
  margin-bottom:10px;
  border-radius: 50%;
}

div.center-people span p{
  border-bottom:1px solid gray;
  width:80%;
  margin:auto;
  margin-bottom:10px;
  padding-bottom:5px;
  line-height: 1.5;
}


/******************************************************
    PRICING - PAGE
******************************************************/ 

div.pricing{
  width:60%;
  margin:auto;
  margin-top:30px;
  margin-bottom:30px;
  height:720px;
  padding:40px;
  color:white;
  font-size:15px;
}

div.price-box-basic{
  width: 35%;
  height:490px;
  padding: 10px;
  border-radius:2%;
  float:left;
  margin-right: 5%;
  margin-top:5%;
  border:1px solid black;
  text-align: center;
  background-color: #0a3755;
}

div.price-box-premium{
  width: 48%;
  height: 650px;
  padding: 10px;
  border-radius:2%;
  float:right;
  border:1px solid black;
  text-align: center;
  background-color: #0a3755;
}

div.inbetween{
  width:100%;
  height:50px;
  margin-top:25%;
  background-color:#3498DB;
}

.price-box-basic h4, .price-box-premium h4{
  padding-top:10px;
  font-weight:900;
  margin-top:5px;
  font-size:20px;
}


div.subscribe-button{
  width:80%;
  margin:auto;
  height:200px;
}

.price-box-basic a.subscribe,.price-box-premium a.subscribe{
  text-decoration: none;
  color:white;
  display:block;
  background-color:#3498DB;
  font-weight: 900;
  cursor:pointer;
  width:70%;
  margin:0 15%;
  margin-bottom:8px;
  padding:5px;
  border-radius:2px;
  float:left;
  clear:both;
  text-align:center;
  
}

.price-box-basic a.subscribe:hover, .price-box-premium a.subscribe:hover{
  background-color:#04AA6D;
}



/******************************************************
    CONTACT - PAGE
******************************************************/ 

div.contact{
  width:100%;
  height:100px; 
  background-color: #3498DB; 
  padding:20px 50px;
  color:white;
}

div.contact div{
  width:80%;
  margin:auto;
}

h1.contact-h1{
  display:block;
  width:100%;
  margin:auto;
  font-weight: 500;
  font-size: 17px;
  margin:20px 0;;
}

.ccontainer input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.ccontainer input[type=submit] {
  background-color: #3498DB;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ccontainer input[type=submit]:hover {
  background-color: #45a049;
}

.ccontainer {
  width:40%;
  margin:auto;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom:50px;
  background-color: #f2f2f2;
  padding: 20px;
}


/******************************************************
    REGISTER - PAGE
******************************************************/ 

div.register{
  width:40%;
  margin:auto;
}

/* Add padding to containers */
.rcontainer {
  width: 100%;
  padding: 16px;
  background-color: #f2f2f2;
  margin: 50px 0;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date]{
  width:100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid white;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color:#3498DB;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: white;
  text-align: center;
}

div.bg{
  width: 100%;
  padding: 16px;
  background-color: #f2f2f2;
}

/******************************************************
    LOGIN - PAGE
******************************************************/

div.lcontainer{
  width:30%;
  margin:100px auto;
  height:500px;
  background-color:#f2f2f2
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color:#3498DB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 2px 0 12px 0;
  margin:auto;
  padding:20px;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding:40px;

}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/******************************************************
    DASHBOARD - PAGE
******************************************************/ 

div.dashboard{
  width:90%;
  height: 900px;
  background-color:white;
  padding:5px;
  margin:auto;
  margin-top:40px;
  margin-bottom:40px;
  border-radius:20px;
  border:2px solid black;
}

div.sidebar{
  width: 30%;
  height:100%;
  padding:70px;
  float:left;
  margin-right:2%;
  background-color:#0a3755;
  border-radius: 20px;
}

div.display-dashboard, div.display-dashboard-special {
  width:68%;
  height:100%;
  float:left;
  background-color:white;
  border-radius: 20px;
  background-color:rgb(233, 233, 233);
}

div.sidebar span{
  display:block;
  margin:auto;
  width:100%;
  height:60px;
  margin-bottom:25px;
}

div.sidebar img{
  width:50px;
  height:50px;
  margin-left: 20px;
  margin-right:20px;
  padding:5px;
  padding-top:10px;
  float:left;
  background-color: white;
  border-radius: 50%;
}

div.sidebar a{
  display:block;
  width:60%;
  height:40px;
  padding:5px;
  padding-top:8px;
  cursor:pointer;
  text-align: center;
  background-color:#3498DB;
  text-decoration: none;
  color:white;
  font-size: 17px;
  font-weight:500;
  margin-top:10px;
  float:left;
  border-radius: 4px;
}

div.sidebar a:hover{
  background-color: #04AA6D;
}

div.display-dashboard h1.welcome{
  padding:100px;
  width:100%;
  height:100px;
}

/***********************
  PROFILE DISPLAY
***********************/
div.dashboard-profile,
div.dashboard-healthstatus,
div.dashboard-healthstatus-special,
div.dashboard-product{
  width: 80%;
  margin:auto;
  margin-top:15%;
  height:80%;
  padding: 20px;
  border:1px solid #0a3755;
  border-radius:2px;
  color:white;
}


div.dashboard-profile 
span.profile-pic{
  display:block;
  margin:auto;
}

img.profile-avatar{
  width: 15%;
  height:15%;
  border-radius: 50%;
  display:block;
  margin:auto;
}

div.left-profile{
  width:47%;
  margin-left:5px;
  margin-top:25px;
  margin-right:10px;
  height:300px;
  padding:10px;
  padding-top:20px;
  float:left;
  border-radius:30px;
  background-color: #0a3755;
}

div.left-profile span , 
div.right-profile span 
{
  display:block;
  margin:0;
  padding-left:20px;
}

div.left-profile span p, 
div.right-profile span p{
  display:inline-block;
  margin-left:5px;
}

div.left-profile span label, 
div.right-profile span label
{
  font-weight: 600;
}

div.right-profile{
  width:47%;
  margin-top:25px;
  margin:auto;
  padding-top:20px;
  padding:10px;
  height:300px;
  float:left;
  border-radius: 30px;
  background-color: #0a3755;

}

div.dashboard-profile input[type="submit"],
div.dashboard-healthstatus input[type="submit"],
div.dashboard-product input[type="submit"]
{
  margin-top:40px;
}


/***********************
  HEALTHSTATUS DISPLAY
***********************/

/* left align immage */

div.dashboard-healthstatus 
span.profile-pic{
  padding:0;
  display:block;
}

div.dashboard-healthstatus
div.left-profile{
  width:80%;
  margin-left:5px;
  margin-top:25px;
  margin-right:10px;
  height:300px;
  padding:10px;
  padding-top:20px;
  float:left;
  border-radius:30px;
  background-color: #0a3755;
}

img.profile-avatar{
  width: 15%;
  height:15%;
  border-radius: 50%;
  display:block;
  margin-left:50px;
}

div.dashboard-healthstatus input[type="submit"]
{
  width:80%;
  margin-left:10px;
}


/***********************
  PRODUCT DISPLAY
***********************/

div.left-profile{
  height: 400px;
}

div.left-profile span.product{
  display:block;
  width: 150px;
  height: 150px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  padding-top:10px;
  float:left;
}

div.left-profile span.description 
{
  display:block;
  float:right;
  font-size:15px;
  width:200px;
  height:150px;
  line-height: 2px;
  margin-left:2px;
  margin-bottom:20px;
}

div.left-profile span.description 
input[type="submit"]
{
  margin-top:2px;
  width:100px;
  padding:2px;
  font-size:12px;
  margin-left:2px;
  margin-bottom:30px;
}

div.dashboard-product div.left-profile img{
  width:125px;
  height:125px;
  padding:1px;
  float:left;
  background-color: white;
  border-radius: 50%;
}

div.dashboard-product{
  height:600px;
}

img.profile-avatar{
  width: 100px;
  height:100px;
}


/***********************
  MESSAGECOACH DISPLAY
***********************/

div.dashboard-healthstatus-special{
  width:80%;
  margin:auto;
  margin-top:2%;
}

div.dashboard-healthstatus-special .left-profile, 
div.coach-profile{
  width:80%;
  margin:auto;
  float:none;
  height:280px;
  padding:2px;
}

div.coach-profile h4{
 margin:2px;
}

div.left-profile h3{
  width:80%;
  margin:auto;
  margin-top:30px;
  margin-bottom:20px;
}

div.left-profile textarea {
  display: block;
  width: 80%;
  margin:auto;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

div.messagetocoach{
  width:50%;
  min-height:25px;
  margin:auto;
  padding:100px;
  clear:both;
  font-size:12px;
  margin-top:30px;
  border-radius: 20px;
  background-color: #04AA6D;
  padding:5px;
  float:right;
  margin-bottom: 10px;
}

div.messagefromcoach{
  width:50%;
  min-height:25px;
  margin:auto;
  padding:100px;
  clear:both;
  font-size:12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 0, 0.514);
  color:black;
  padding:5px;
  float:left;
  margin-bottom: 40px;
}

div.coach-profile{
  width:80%;
  height:180px;
  margin-top:20px;
  margin-bottom:20px;
  color:white;
  padding:20px;
  border-radius: 5px;
  background-color: #0a3755;
}

div.coach-profile span{
  display:block;
  width:100%;
  height:25px;
  padding: 1px;
  font-size:14px;
}

div.coach-profile label{
  font-weight: 700;
}

div.coach-profile p{
  display:inline-block;
  margin-left:5px;
}

















/************************
  --- MEDIA SUPPORT ---
*************************/

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  .prev, .next {
    display:none;
  }

  .navdiv-1{
    margin-bottom:50px;
  }

  div.services{
    height:800px;
  }

  img.item{
    width:100%;
    height:100%;
    border-radius: 50%;
    margin:0 10%;
  }

  hr{
    display:none;
  }

  div.service-item {
      width: 30%;
      height:100%;
      margin-left:3.33%;
      float:left;
  }

  .caption h4 {
    font-size:0.8em;
    height:50px;
  }

  .caption p{
    font-size:0.7em;
  }

  div.other{
    width:90%;
    height:600px;
    margin:auto;
    margin-top:20px;
    font-size:12px;
  }

  div.partners{
    margin-bottom:-100px;
  }
  
}

@media screen and (max-width: 1000px) {
  .navdiv-1{
    margin-bottom:80px;
  }

  .prev, .next {
    display:none;
  }

  .slideshow-container .carousal-item{
    width: 100%;
    max-height: 500px;
    position: relative;
    margin: auto;
  }

  .text {
    padding-bottom:20px;
    margin:0 10px 0 10px;
    font-size:15px;
  }

  hr{
      display:none;
  }

  div.services{
    height:350px;
  }

  div.service-item {
    width: 30%;
    height:100%;
    margin-left:3.33%;
    float:left;
  }

  img.item{
    width:50%;
    height:50%;
    border-radius: 50%;
    margin:0 25%;
  }

  div.other{
    width:90%;
    height:600px;
    margin:auto;
    margin-top:20px;
    font-size:15px;
  }


}